/* Estilos para botones dentro del modal */
.modal-content {
    border-radius: 8px;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.form-label {
    color: #666;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    width: 48%;
}

/* Estilos para botones dentro del modal con clase 'button-cart' */
button.button-cart {
    width: 100%;
    padding: 10px;
    background-color: hsl(120, 1%, 58%);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button.button-cart:hover {
    background-color: hsl(120, 1%, 58%);
}
