.perfiles{
    margin-top: 100px;
}
.container-perfiles{
    margin-top: 100px;
    align-items: center;
}
.profile-avatar {
    float: left;
    width: 4rem;
    height: 4rem;
  }
.profile-data {
    padding-left: 4.5rem;
    padding-top: .4rem;
}