{% extends 'core/base.html' %}
{% load static %}

{% block title %}Terapias{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div style="padding:30px;">
</div>
<div class="main">
  <div class="d-flex ali-items-center base">
    <div class="row g-0 bg-body-secondary position-relative">
      <div class="col-md-5 mb-md-0 p-md-4">
        <img src="{% static 'core/Imagen/terapia-indi/terapia-indi.png' %}" alt="terapia_individual" class="img-fluid">
      </div>
      <div class="col-md-6 p-4 ps-md-0">
        <h2 class="titulo">Terapía Individual</h2>
        <p>La terapia individual es el encuentro entre el terapeuta y el paciente, en donde en un ambiente de
          aceptación, confidencialidad y apertura el paciente puede expresar sus problemas y emociones. La terapia
          individual es un espacio y una oportunidad para pensar, ordenar cosas, evaluar y replantear temas que
          generan
          sufrimiento, resolver conflictos, gestar cambios, adquirir herramientas y recursos, liberar cargas y crecer
          personalmente.</p>
        <p>En la terapia individual se identifican los conflictos personales y su origen. Estos pueden responder a
          situaciones especiales o tener su inicio en nuestra historia personal, específicamente en nuestra infancia.
          La
          Psicoterapia es más un proceso gradual de comprensión de nuestro mundo interno y del tipo de relaciones que
          establecemos con los demás.</p>
        <p>El objetivo de la terapia individual es entender, pararse a pensar, poner en palabras lo que sucede, lograr
          una mejor relación contigo mismo y con lo que ocurre en tu vida. Comprender por qué repetimos y caemos en lo
          mismo una y otra vez, superar los momentos difíciles y aprender a tomar las riendas de nuestra vida.</p>
        <p>Cuando una persona puede verse de distinta forma, puede tener distintas posibilidades de respuesta ante un
          mismo evento o una misma experiencia. En la terapia se logra cambiar el concepto de uno mismo y sanar las
          huellas que aún nos afectan.</p>
        <p>La psicoterapia proporciona un tratamiento efectivo para una amplia variedad de alteraciones psicológicas,
          que de la mano de psiquiatría contribuye de forma positiva, en la salud mental del paciente, en su sensación
          de bienestar y en su habilidad de manejar su vida de manera satisfactoria.</p>
      </div>
    </div>
  </div>

  <div style="padding:50px;">
  </div>

  <div class=" ali-items-center">
    <div class="promos">
      <img src="{% static 'core/Imagen/terapia-indi/promos.png' %}" alt="promociones" class="img-fluid">>
    </div>
  </div>
  <div style="padding:30px;">
  </div>
  <div class="main">
    <div class="d-flex ali-items-center base">
      <div class="row g-0 bg-body-secondary position-relative">
        <div class="col-md-5 mb-md-0 p-md-4">
          <img src="{% static 'core/Imagen/terapia-pareja/terapia-pareja.png' %}" alt="terapia-pareja"
            class="img-fluid">
        </div>
        <div class="col-md-6 p-4 ps-md-0">
          <h2 class="titulo">Terapia de Pareja</h2>
          <p>La terapia de pareja es un recurso utilizado por muchas personas para resolver los conflictos que pueden
            surgir dentro de una relación.</p>
          <p>La psicoterapia de pareja, como también se le denomina, fortalece una pareja en crisis y lo primero que se
            hace es encontrar el verdadero problema, para así recuperar la relación o también para tener una ruptura lo
            menos conflictiva y dolorosa posible.</p>
          <p>Según el famoso psicólogo Joan Garriga, en la terapia se generan nuevas posibilidades, pautas más creativas
            y
            aprendizajes al comprender cómo estructurar las propias limitaciones respecto al amor y cuáles son las
            profecías infantiles; todo lo vivenciado en esa etapa que inconscientemente gobierna algunos comportamientos
            que en ocasiones termina saboteando los vínculos con la pareja.</p>
          <p>Cuando una persona puede verse de distinta forma, puede tener distintas posibilidades de respuesta ante un
            mismo evento o una misma experiencia. En la terapia se logra cambiar el concepto de uno mismo y sanar las
            huellas que aún nos afectan.</p>
          <p>La psicoterapia proporciona un tratamiento efectivo para una amplia variedad de alteraciones psicológicas,
            que de la mano de psiquiatría contribuye de forma positiva, en la salud mental del paciente, en su sensación
            de bienestar y en su habilidad de manejar su vida de manera satisfactoria.</p>
        </div>
      </div>
    </div>

    <div style="padding:50px;">
    </div>

    <div class="d-flex ali-items-center">
      <div class="card">
        <img src="{% static 'core/Imagen/terapia-pareja/terapia-pareja-promo.png' %}" alt="terapia-pareja"
          class="card-img-top img-fluid">
        <div class="card-body" style="overflow-y: auto;">
          <h3>¿En qué consiste?</h3>
          <p>La pareja acompañada por un psicólogo buscará una explicación a la situación actual que le permita al
            profesional, tras una evaluación, diseñar un plan de intervención de terapia psicológica personalizado.</p>
          <p>Todo dentro de un ambiente de confianza para los miembros de la pareja, donde se puede decir lo que uno y
            otro
            miembro de la pareja quiere del otro y donde se pueda decidir libre y conscientemente si seguir la relación
            o
            romper el vínculo permitiéndose, lo más importante, escuchar al otro, tener en cuenta lo que siente, piensa…
          </p>
          <p>En este tipo de tratamientos se enseñan técnicas como la inteligencia emocional, que es ideal para
            desarrollar
            la habilidad para percibir, usar, entender y manejar las emociones. Y además, se hace énfasis en la
            comunicación, que es eficaz para reconocerse individualmente en conciencia y en equilibrio para aportar al
            otro lo mejor de sí y contribuir a tener relaciones sanas y duraderas.</p>
          <p>Durante la terapia de pareja se revisa cómo fue la familia, cómo fue la crianza, cómo se “armó
            emocionalmente”
            esa persona, y también se ve qué es lo que significa para cada uno ser más agradable con el otro. La idea es
            que
            aprendan a escucharse y a decirse las cosas de una manera amorosa y respetuosa.</p>
        </div>
      </div>
    </div><br>

    <!-- BOTON PARA FORMULARIO RESERVA HORA -->
    <div class="boton-compra-individual d-flex justify-content-center align-items-center" style="padding: 50px;">
      <a href="{% url 'pagos' %}" class="boton">Haz
        click
        aquí para reservar tu hora</a>
    </div>
    <!-- BOTON PARA FORMULARIO RESERVA HORA -->

    <div class="textos">
      <h6>Nuestro Equipo</h6>
      <h4>Contamos con un equipo de profesionales certificados,
        experimentados y comprometidos con la
        salud mental de nuestros pacientes.</h4>
    </div>

    <div class="d-flex align-items-center" style="padding-top: 50px;">
      <div class="card">
        <h4 class="card-title">Director general</h4>
        <img src="{% static 'core/Imagen/especialista.png' %}" alt="especialista" class="card-img-top">
        <div class="card-body" style="max-height: 400px; overflow-y: auto;">
          <h3>Ángel Díaz</h3>
          <h5>Psicólogo clínico y deportivo</h5>
          <p>Enfoque: Psicoanálisis.</p>
          <p>Tipo de público: Adulto</p>
          <p>Área de conocimiento: Atención psicológica online, terapia de pareja, violencia en la pareja, coaching
            deportivo, consecuencias psicológicas de la pandemia ansiedad, depresión y estrés, aplicación de test
            proyectivos, OQ 42,2, TRO, HTP, árbol, la persona bajo la lluvia y el test de la familia.</p>
          <p>Contacto: +569 2199 1963</p>
        </div>
      </div>
    </div>
  </div>
  <div style="padding:50px;">
  </div>

  <div id="alerta-validacion" class="alert alert-danger" style="display: none;">
    Por favor, corrija los errores en el formulario.
  </div>

</div>

<!-- FORMULARIO RESERVA HORA -->>
<div class="modal fade" id="boton-compra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Reserva tu hora</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="tex">
          <form id="contactoForm" method="POST">
            {% csrf_token %}
            {{ form | crispy }}
          </form>
          <p>** Si usted no es de primer ciclo, inicie sesión para confirmar su monto de consulta **</p>
          <br>
          <p></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" id="reserva-indi" class="btn btn-primary" onclick="reservaD(event)">Confirmar</button>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
  function reservaD(event) {
    event.preventDefault(); // Prevenir el envío del formulario por defecto
    var form = document.getElementById('contactoForm');
    if (form.checkValidity()) {
        // Si el formulario es válido, enviar los datos y cerrar el modal
        form.submit();
       
        $('#boton-compra').modal('hide'); // Cerrar el modal
    } else {
        // Si el formulario no es válido, mostrar las validaciones de formularios
        form.reportValidity();
    }
  }
</script>
<!-- FORMULARIO RESERVA HORA -->>
{% endblock %}